body {

  background-image: url("/imgs/macos.png");
  background-size: 150px;
    font-family: Arial,
    Helvetica,
    sans-serif;

}

.window {

  border: 1px solid black;
  padding: 3px;
  width: 600px;
  height: 300px;
  /* position: absolute; */
  /* top: 10px; */
  /* left: 10px; */
  overflow: hidden;
  background-color: rgb(208, 208, 208);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.75);

}

.draggable {

  position: absolute;
  /* top: 100px; */
  /* left: 0; */

}

.window-header {

  width: 100%;
  height: 10px;
  /* background-color: rgb(208,208,208); */
  background-image: url("/imgs/Deco-bar.png");
  background-size: 15px;
  border: 2px solid rgb(208, 208, 208);
  border-left: none;
  display: flex;
  /* border-top: 1px solid rgb(124,124,124);
  border-left: 1px solid rgb(124, 124, 124);
  border-right: 1px solid rgb(124, 124, 124); */
  /* border-bottom: 1px solid black; */

}

.window-content {

  width: auto;
  height: 283px;
  overflow: scroll;
  border: 1px solid black;
  /* border-radius: 3px; */
  background-color: rgb(222,222,222);
  margin-top: 2px;

}

.window-content iframe {

  width: 100%;
  height: 100%;

}

#toolchart thead td {

  background-color: rgb(170,170,170);
  
}

#toolchart .cell-left {

  padding: 3px 20px;
  
} 

.italics {

  font-style: oblique;

}

.close {

  height: 8px;
  width: 8px;
  border: 1.2px solid rgb(61, 61, 61);
  background: linear-gradient(140deg, rgba(105, 105, 105, 1) 0%, rgba(208, 208, 208, 1) 65%);

}

.window-icon {

  height: 12px;
  width: 12px;
  background-image: url("/imgs/file-icon.png");
  float: left;
  background-size: 9px;
  background-repeat: no-repeat;
  margin-left: 2px;

}

.header-item-wrapper {

  background-color: rgb(208, 208, 208);

}

.header-left {

  height: 10px;
  width: 15px;

}

.header-centered {

  margin: 0 auto;

}

.header-centered h1 {

  line-height: 10px;
  margin: 0;
  font-size: 10px;
  margin: 0 15px;
  /* margin-right: 7px; */
  /* width: 20px; */

}

.menu-bar {

  background-color: rgb(221,221,221);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20px;
  border-bottom: 1px solid black;

}

.menu-bar .first {

  margin-left: 5px !important;

}

.menu-bar-item {

  width: auto;
  height: 20px;
  float: left;
  margin-left: 15px;

}

.menu-bar-item p {

  margin: 0;
  line-height: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}

.menu-bar-img {

  height: 20px;
  /* width: 40px; */

}

.menu-bar-img {

  float: left;
  margin-left: 10px;

}

.menu-bar-img img {

  /* width: 20px; */
  height: 20px;

}

.desktop-icon h1 {

  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: white;
  font-style: italic;
  font-weight: 400;
  padding: 1px 2px;
  text-align: center;

}

.desktop-icon .icon-image {

  /* background-image: url("/imgs/hard-disk-icon.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 2px;
  display: block;

}