<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/windows.css">
    <link rel="stylesheet" href="/css/desktop-icons.css">
    <link rel="stylesheet" href="/css/menu-bar.css">
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/mustache/mustache.min.js"></script>
    <script src="/../../components/js-cookie/src/js.cookie.js"></script>
    <title>Desktop</title>
  </head>
  <body>
    <div class="desktop">
      <div class="menu-bar">
        
      </div>
      <div class="menu-bar-right-buttons">
        <img id="a-icon" src="/imgs/a-icon.png" alt="">
        <img src="/imgs/workspagemanager.png" alt="">
        <h1>Workspace Manager</h1>
      </div>
    </div>
    
    <script src="/../../js/cookies.js"></script>
    <script src="/js/load-app.js"></script>
    <script src="/js/ds.js"></script>
    <script src="/js/test-window.js"></script>
    <script src="/js/menu-bar.js"></script>

  </body>
</html>
