<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <title>Desktop</title>
  </head>
  <body>
    <div id="window" class="window">
      <div id="windowheader" class="window-header">

      </div>
      <div class="window-content">

      </div>
      <label for="">Open App</label>
      <input id="app-name" type="text" name="" value="">
      <span id="get-app">Open</span>
    </div>
    <script src="/js/load-app.js"></script>
    <script src="/js/ds.js"></script>
  </body>
</html>
