<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/loading.css">
    <script src="../../components/mustache/mustache.min.js"></script>
    <script src="../../components/jquery/dist/jquery.min.js"></script>
    <script src="/../../components/js-cookie/src/js.cookie.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="loading-wrapper">
        <div class="loading-screen">
            <div class="header-bar">
                <h1>Lower Canada College</h1>
            </div>
            <div>
                <p class="displaimer-loading"><%= disclaimerLoading %></p>
            </div>
            <div class="output-log" id="output-log">

            </div>
        </div>
    </div>
    <script src="/js/loading.js"></script>
</body>
</html>