<div app_name="{{app_name}}" window_height="{{window_height}}" window_width="{{window_width}}" meta_1="{{meta_1}}" app="{{app}}" id="icon-{{iid}}" style="top: {{top}}; left: {{left}};" class="desktop-icon draggable">
    <img class="icon-image" src="{{image}}">
    <h1>{{app_name}}</h1>
</div>