<div type="{{type}}" img="{{img}}" contributions="{{contributions}}" content="{{content}}" type="{{type}}" total_items="{{total_items}}" item_num="{{item_num}}" col_num="{{col_num}}" id="item-{{item_col}}-{{item_id}}" label="{{label}}" class="selector-col-item">
    <p class="selector-col-item-padded">{{label}}</p>
    <img style="display: {{arrow_display}}" class="selector-col-item-padded" src="img/right-arrow.png" alt="">
</div>