 <div class="image-section">
    <div class="header">
        <h1>{{label}}</h1>
    </div>
    <div class="content" did="{{did}}">
        <img src="{{src}}">
        <p class="img-desc">{{description}}</p>
    </div>
    <hr>
</div>