<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h4>
    <h5>H5</h5>
    <h6>H6</h6>
    <h1>Essay on Sciency things</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem magni magnam, reprehenderit veritatis doloremque repellat impedit odio eius, similique animi laboriosam quam dolor architecto quisquam quis quos! Non, exercitationem blanditiis!</p>
    <h1>Description of school</h1>
    <p>Our school is xyz</p>
    <h1>1992</h1>
    <ul>
      <li>The school existed</li>
    </ul>
    <ul>
      <li>Hello</li>
      <h1>Hello</h1>
      <li>Hello</li>
      <li>Hello</li>
      <li>Hello</li>
      <li>Hello</li>
      <li>Hello</li>
      <li>Hello</li>
    </ul>
  </body>
</html>
